*{
  font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}
.links-navbar{
    font-weight: 500;
    font-size: 15px;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}